* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(10, 10, 10);
    font-family: "Roboto", normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #090a09;
    font-family: "Roboto", bold;
    font-size: 25px;
  }
  .div-clear {
    clear: both;
  }
  .myImage {
    width: 100px;
    height: 100px;
    padding: 20px 25px;
    float: left;
  }
  .image {
    width: 100%;
    box-shadow: 6px 6px rgba(221, 245, 6, 0.61);
    border-radius: 20px;
  }
  .container {
    max-width: 1000px;
    background-image: linear-gradient(
      -45deg,
      rgba(225, 231, 231, 0.863),
      rgba(209, 212, 210, 0.788),
      rgba(196, 211, 197, 0.788),
      rgba(168, 198, 199, 0.863),
      transparent
    );
    margin: 0 auto;
    color: white;
    box-shadow: 5px 25px 14px rgb(155, 154, 152);
  }
  .header-bio h1,h2 {
    font-family: 'Garamond', serif;
    text-shadow: 5px 3px 4px rgb(99, 99, 95);
    text-align: center
  }
  .name {
    color: rgb(12, 12, 12);
    text-align: center
  }
  .lastName {
    color: rgb(12, 12, 12);
    text-align: center
  }
  .header-contact p 
  {
    text-decoration: none;
    color: rgb(12, 12, 12);
    text-align: center;
  }
  .item {
    font-weight: bold;
    font-size: 15px;
    text-align: center
  }
  
  .left-part {
    float: left;
    padding: 20px;
    width: 300px;
  }
  .right-part {
    float: right;
    padding: 20px;
    width: 600px;
  }
   .mainListPart {
    width: 500px;
    margin: 8px 100px;
    position: relative;
  }
  .subListPart {
    width: 500px;
    margin: 8px 100px;
    position: relative;
  }
  .subListPart2 {
    list-style-type: none;
    width: 300px;
    position: absolute;
    top: 113px;
    left: 74px;
  }
  .footer {
    max-width: 100%;
    background-color: rgb(248, 244, 244);
    color: rgb(52, 17, 230);
    text-align: center;
  }
  .social-site {
    margin: 10px 15px;
  }
  .social-site a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(12, 12, 12);
    padding: 5px 15px;
  }
  .social-site a:hover {
    color: rgb(12, 12, 12);
    text-decoration: underline;
  }
  .Languages {
    color: rgb(12, 12, 12);
  }